// for tablet
@media (max-width: 800px) {
	#header-home {
		height: 30rem;

		.header-content {
			padding-top: 5rem;
		}
	}

	.item-text-category {
		margin: 0;
	}
}

// for mobile
@media (max-width: 500px) {
	#main-nav {
		flex-direction: column;
		align-items: center;

		li {
			padding: 1rem;
		}
	}

	#header {
		&-home {
			height: 10rem;
			background: 3pc solid $main-color;
			background-position: 20% 30%;

			.header-content {
				display: none;
			}
		}

		&-inner {
			height: 10rem;
		}
	}

	#home-a .specials,
	#home-b .stats,
	#home-c .process,
	#about-d .testimonials,
	#contact-b .contact-info,
	.items {
		grid-template-columns: 1fr;
	}

	#home {
		&-a {
			.specials div {
				border-bottom: 2px solid $light-color;
				padding-bottom: 1rem;

				&:last-child {
					border: none;
					padding-bottom: 0;
				}
			}
		}

		&-b {
			.stats div {
				padding: 2rem 0 1rem 0;
			}
		}
	}

	// about page
	#about {
		&-a {
			.about-info {
				grid-template-areas:
					"bioimage"
					"bio"
					"aw1"
					"aw2"
					"aw3";
			}
		}

		&-c {
			display: none;
		}
	}

	// contact page
	#contact {
		&-a {
			.text-fields {
				grid-template-areas:
					"name"
					"subject"
					"email"
					"phone"
					"message";
			}
		}

		&-b {
			.contact-info div {
				margin-bottom: 1rem;
				padding-bottom: 1rem;
				border-bottom: 1px solid #555;

				&:last-child {
					border: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}

		&-c {
			h1 {
				font-size: 3rem;
			}
		}
	}
	// footer
	#main-footer {
		height: 7rem;

		.footer-content {
			flex-direction: column;
			padding: 1rem;
			height: 5rem;
		}
	}
}

// Landscape mode
@media (max-height: 580px) {
	#header-home {
		.header-content {
			padding-top: 3rem;
		}
	}

	.item-text-category {
		margin: 0;
	}
}

@media (max-height: 330px) {
	#header-home {
		.header-content {
			h1 {
				font-size: 2rem;
			}
		}
	}

	.item-text-category {
		margin: 0;
	}

	#header {
		&-c {
			.process {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
